body {
    margin: 0;
    padding: 0;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
  
  
  .nav-buttons {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav-buttons button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  

  
